################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PnP-AI-GM/.vs/PnP-AI-GM/v16
/PvP-AI-GM/PvP-AI-GM/x64/Debug
